# Dependencies
/vendor/
/composer.phar
/composer.lock

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Data
/data/

# Test files
/www/test/layout_config_test.json

# Environment variables
.env